{% extends "base.html" %}

{% block content %}
	<div id="page-intro">
		欢迎来到“爱颜色”，你可以在这里<a href="pick.html">挑选</a>你喜欢的颜色，分享你关于颜色的故事和心情。
	</div>
	<div class="hint">
		{{ hint }}
	</div>
	
	<div id="aboutcontent">
		<div class="longtitle">所有意见建议：</div>
		<div id="messagelist">
			<ul>
				{% for idea in ideas %}
					<li>
						{{ idea.user.name }}：{{ idea.content }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="longtitle">你的意见建议：</div>
		<form action="/guestbook" method="post">
			<div><textarea name="comment" rows="6" cols="70"></textarea></div>
			<div><input id="aboutsubmit" type="submit" value="提交" /></div>
		</form>
	</div>
{% endblock %}