<div id="sidebar">
	{% if widget_recent_entries %}
		<div class="widget_recent_entries">
			<h3><span>最新动态</span></h3>
			<ul>
				{% for state in states %}
					<li>
						<a href="{{ state.user.domain }}">
							{{ state.user.name }}
						</a>
						{% ifequal state.type 'like' %}
							选择了
						{% else %}
							评论了
						{% endifequal %}
							颜色
						<span style="background-color:{{ state.color.value }};color:{{ state.color.value }};">
							{{ state.color.value }}
						</span>，{{ state.comment }}——<a href="/detail/{{ state.color.key.id }}">这里</a>支持或者评论我喜欢的颜色。
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if widget_users_wall %}
		<div class="widget_users_wall">
			<h3><span>用户墙</span></h3>
			<ul>
				{% for user in users %}
					<li><a href="{{ user.domain }}" title="喜欢了{{ user.like_color_count }}个颜色"><img src={{ user.profile_image_url }} alt="{{ user.name }}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if widget_users_like_wall %}
		<div class="widget_users_like_wall">
			<h3><span>喜欢该颜色的用户</span></h3>
			<ul>
				{% for user in color.like_users %}
					<li><a href="{{ user.domain }}"><img src={{ user.profile_image_url }} alt="{{ user.name }}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if widget_tag_cloud %}
		<div class="widget_tag_cloud">
			<h3><span>标签云</span></h3>
			<div>
			{% for t in alltags %}
				<a title="{{ t.count }} 颜色" href="/tag/{{ t.key.id }}" style='font-size:{{ t.count|add:10 }}px;'>{{ t.name }}</a>
			{%endfor%}
			</div>
		</div>
	{% endif %}
	{% if widget_color_tag_cloud %}
		<div class="widget_color_tag_cloud">
			<h3><span>标签云</span></h3>
			<div>
			{% for t in alltags %}
				<a title="{{ t.count }} 颜色" href="/tag/{{ t.key.id }}" style='font-size:{{ t.count|add:10 }}px;'>{{ t.name }}</a>
			{%endfor%}
			</div>
		</div>
	{% endif %}
	{% if widget_mycolors %}
		<div class="widget_mycolors">
			<h3><span>我的颜色</span></h3>
			<ul>
				{% for mycolor in mycolors %}
					<li><a href="/detail/{{ mycolor.key.id }}" style="background-color:{{ mycolor.value }}"></a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if widget_mycommets %}
		<div class="widget_mycommets">
			<h3><span>我的评论</span></h3>
			<ul>
				{% for mycomment in mycomments %}
					<li><a style="background-color:{{ mycomment.color.value }};color:{{ mycomment.color.value }};">{{ mycomment.color.value }}</a>：{{ mycomment.text }}——{{ mycomment.creat_time|date:"Y.m.d" }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>