<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="Keywords" content="gae,aicolor,sina,新浪,微博,api,颜色，你的最爱" />
	<meta name="Description" content="基于GAE和新浪API的挑选你最爱的颜色的应用。" />
	<link type="image/x-icon" rel="icon" href="/static/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/css/core.css" />
	<title>ai-color</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="header-title">
		<div id="logo"><a href="/">爱颜色</a></div>
		<div id="description">分享颜色与心情</div>
	</div>
		
	<div id="menu">
	<ul class="nav">
		<li><a href="/">主页</a></li>
		<li><a href="/pick">挑选颜色</a></li>
		<li><a href="/wall">颜色墙</a></li>
		<li><a href="/about">关于</a></li>
		<li><a href="/share">分享该应用</a></li>
    {% if request.logined %}
    <li><a href="/logout">登出</a></li>
    {% endif %}
	</ul>
	</div><!-- end menu -->
	
	<div id="content" class="clearfix">
		{% block content %}{% endblock %}
	</div>
	
	<div id="foot">
		Copyright &copy; 2010 <a href="http://www.qhm123.com" target="_blank">鸣</a>, Powered By GAE, All Right Reserved. 
		<script type="text/javascript">
			var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff1edc2784a9ddf99222f4db6df8d7157' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</div>
</div>
</body>
